<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <div class="container">
    <a class="navbar-brand" href="#">.Institute</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'dashboardPage' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'studentPage' %}">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Teachers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'course_category' %}">Course Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Courses</a>
          </li>
        {% endif %}
      </ul>
      <div class="d-flex">
        {% if request.user.is_authenticated %}
          <a href="{% url 'signOutPage' %}" class="btn btn-danger me-2">Sign Out</a>
        {% else %}
          <a href="{% url 'signInPage' %}" class="btn btn-info me-2">Sign In</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
